* {
  color: #000080;
  background-color: #ffffff;
 }
a:link {
  color: #800080;
}
a:visited {
  color: #ff0000;
}

.left {
  float: left;
  clear: left;

}

.right {
  float: right;
  clear: right;

}

footer {
  border-top: 1px solid;
  clear: both;
  text-align: center;
  font-size: .75em;
}

header {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid;
}

header p:first-child {
  font-size: 1.5em;
  padding-top: -10px
}

header p:nth-child(2) {
  font-size: .5em;
  padding-top: -10px

}

header p:nth-child(3) {
  font-size: .5em;
  padding-top: -10px

}
header p:nth-child(4) {
  font-size: 1em;
  padding-top: -10px
}
span {
  font-size: 2em;
}
#inc {
  font-size: 0.5em;
}
section {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
ul p{
  font-size: 0.75em;
}